name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: chekout and test
      uses: actions/checkout@v2
    - name: Set up Python 3.8.1
      uses: actions/setup-python@v1
      with:
        python-version: 3.8.1
    - name: Install dependencies
      run: |
        pip install pylint
    - name: Lint with pylint
      run: |
        pylint main_test.py
    - name: Test with pytest
      run: |
        python main_test.py

